.checkout {
	position: fixed;
	z-index: 5;
	right: 0;
	top: 0;
	padding: 1rem;

	&--open {
		background-color: $lightPink;
		height: 100vh;
		text-align: center;
	}

	&___btn-wrapper {
		position: absolute;
		right: 1rem;
		top: 1rem;
	}

	&__btn {
		@extend .btn-primary;
	}

	&__list {
		text-align: left;
		margin: 1rem auto 3rem;

		&-text {
			margin-top: 3rem;
		}

		&-item {
			color: $darkPink;
			font-size: 1.1rem;
			line-height: 1.75rem;

			&:first-of-type {
				display: none;
			}
		}
	}
}